<h1><%= @user.full_name %></h1>
<p><%= @user.email %></p>

<%= render 'shared/add_friend_button', user: @user %>
<%= render 'shared/cancel_friend_request_button', user: @user %>
<%= render 'shared/unfriend_button', user: @user %>
